<!DOCTYPE html>
<html>
  <head>
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="myapp">
    <h1>Tech Test</h1>
    <div ng-controller="testController">
      <div ng-repeat="post in posts">
        <h3>User ID: {{post.userId}}</h3>
		<span>Post ID: {{post.id}}</span>
        <span>Post Title: {{post.title}}</span>
		<div ng-repeat="comment in comments">
			<div ng-if="post.id === comment.postId">
				Comment ID: {{comment.id}}
				Comment Body: {{comment.body}}
			</div>
		</div>
       </div>
      </div>
  </body>
</html>